@import '~antd/dist/antd.css';

$primary-color: darkblue;
$background-color: #BADA55;

// Chrome applies an 8px margin by default (gross).
body {
    margin: 0px;
}

.popupContainer {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 600px;
    padding: 10px;
}

.tab-info {
    flex: 1;
}

.record-op-btns {
    display: flex;
    justify-content: space-evenly;
}

.am-editor {
    margin: 10px 0;
}

.am-editor-fields {
    display: flex;
}

.am-editor-btns {
    margin-top: 8px;
}