@import 'antd/dist/antd.css';

$primary-color: darkblue;
$background-color: #BADA55;

// Chrome applies an 8px margin by default (gross).
body {
    margin: 0px;
}

.popupContainer {
    display: flex;
    flex-direction: column;
    height: 400px;
    overflow: auto;
    width: 750px;
    padding: 10px;
}

.tab-info {
    flex: 1;
}

.record-op-btns,
.op-btns {
    display: flex;
    justify-content: space-evenly;

    .anticon {
        cursor: pointer;
    }
}

.am-editor {
    margin: 10px 0;
}

.am-editor-fields {
    margin-top: 5px;
    display: flex;

    .ant-select-auto-complete {
        width: 400px;
        margin-right: 10px;
    }
}

.am-editor-btns {
    margin-top: 8px;
}

.am-ins-editor-box {
    border: 1px solid #ccc;
    padding: 5px;
}

.am-ins-editor {
    margin-bottom: 5px;
}

.am-ins-editor-btns {
    line-height: 32px;
    margin-left: 5px;
}