body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #141414;

  * {
    box-sizing: inherit;
  }
}
.container {
  padding: 20px 30px;
  min-height: 100vh;

  &.theme-dark {
    background-color: #141414;
  }

  &.theme-light {
    background-color: #fff;
  }
}

.btns {
  margin-top: 20px;

  .ant-btn {
    margin-right: 20px;
  }
}
