@import "@assets/style/theme.scss";

.content-view {
  font-size: 30px;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right-circle:before {
  content: "\e668";
}

.icon-arrow-double-left:before {
  content: "\e669";
}

.icon-arrow-left-circle:before {
  content: "\e66e";
}

.icon-arrow-double-right:before {
  content: "\e66f";
}

.icon-direction-right:before {
  content: "\e670";
}

.icon-link:before {
  content: "\e676";
}

.icon-add-circle:before {
  content: "\e664";
}

.icon-arrow-up-circle:before {
  content: "\e665";
}

.icon-arrow-down:before {
  content: "\e666";
}

.icon-browse:before {
  content: "\e667";
}

.icon-direction-down:before {
  content: "\e66b";
}

.icon-copy:before {
  content: "\e66a";
}

.icon-direction-down-circle:before {
  content: "\e66c";
}

.icon-direction-up:before {
  content: "\e66d";
}

.icon-g-translate:before {
  content: "\e89b";
}

.ext-hp-ms-over {
  outline: 2px dotted #ccc !important;
}

/* Button */
.ext-hp-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 12px;
  color: #8590a6;
  font-weight: 500;
  box-shadow: 0 1px 3px rgb(18 18 18 / 10%);
  border-radius: 4px;
}
.ext-hp-btn-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: #f2f3f4;
  z-index: 100000;
}

.ext-hp-btn-toggle {
  position: sticky;
  top: 5px;
  right: 5px;
  z-index: 100000;
  background: #fff;
  float: right;
}

.ext-hp-btn-link {
  position: fixed;
  background: #f2f3f4;
  z-index: 100000;
}

.ext-hp-trans-result {
  color: #8590a6;
  font-size: 12px;
  margin: 5px 0;
}

.ext-hp-btn-link.tl {
  top: 10px;
  left: 10px;
}

.ext-hp-btn-link.tr {
  top: 10px;
  right: 10px;
}

.ext-hp-btn-link.cr {
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.ext-hp-btn-link.cl {
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.ext-hp-btn-link.bl {
  bottom: 10px;
  left: 10px;
}

.ext-hp-btn-link.br {
  bottom: 10px;
  right: 10px;
}

.ext-hp-btn-g-translate {
  float: right;
  width: auto;
  height: auto;
  box-shadow: none;
  border-radius: none;
}

/* Code Copy */
.ext-hp-code-copy {
  cursor: pointer;
  position: absolute;
  font-size: 12px;
  color: #8c8c8c;
}
.ext-hp-code-copy-tl {
  left: 1px;
  top: 1px;
}
.ext-hp-code-copy-tr {
  right: 1px;
  top: 1px;
}

.ext-hp-inlinecode-copy {
  cursor: crosshair;
}

/* Dark Mode */
html[theme="sh-dm-dark-mode"] {
  filter: invert(1) hue-rotate(180deg);
}
html[theme="sh-dm-dark-mode"] img,
html[theme="sh-dm-dark-mode"] picture,
html[theme="sh-dm-dark-mode"] video,
html[theme="sh-dm-dark-mode"] [style*="background-image"] {
  filter: invert(1) hue-rotate(180deg);
}

/* Full Screen */
.ext-hp-fullscreen {
  font-size: 20px !important;
  line-height: 1.3 !important;
}
.ext-hp-fullscreen span {
  font-size: 20px !important;
}

/* Hash Element */
.ext-hp-hashed {
  cursor: pointer;
}

/* Outline */
#ext-hp-outline {
  background-color: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  padding: 5px 10px;
  position: fixed;
  /* background-color: rgba(255,255,255,0.98); */
  font-size: 12px;
  white-space: nowrap;
  z-index: 999;
  cursor: pointer;
  text-align: right;
  border-radius: 5px;
  user-select: none;
}

#ext-hp-outline.tr {
  right: 50px;
  top: 68px;
}

#ext-hp-outline.tl {
  left: 50px;
  top: 68px;
  text-align: left;
}

#ext-hp-outline.bl {
  left: 50px;
  bottom: 68px;
  text-align: left;
}

#ext-hp-outline.br {
  right: 50px;
  bottom: 68px;
}

#ext-hp-outline .content {
  max-height: 210px;
  overflow-y: auto;
  overflow-x: hidden;
}

#ext-hp-outline ul {
  display: block;
  text-align: left;
  padding-right: 10px;
  padding-left: 10px;
  list-style-type: none;
}

#ext-hp-outline ul li a {
  line-height: 1.7;
  text-decoration: none;
  border-bottom: none;
  font-size: 14px;
  color: #364149;
  background: 0 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.ext-hp-outline-fold,
.ext-hp-outline-fold-btn {
  position: relative;
  cursor: pointer;
  font-size: 20px;
  color: #333;
  line-height: 1;
}

/* Zen Mode */
.sh-zm-layer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: #35363a;
  z-index: 4194304;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25vw;
  font-size: 30px;
  color: #fff;
  transition: all 1s;
  box-sizing: border-box;
}

.ext-hp-bookmark {
  background-color: rgba(0, 0, 0, 0.05)!important;
}

.ih-style-full {
  position: fixed!important;
  width: 100vw!important;
  height: 100vh!important;
  left: 0!important;
  top: 0!important;
  z-index: 100000000000!important;
}